@page "/gallery"
@using Frontend.Pages.Component
@inject IJSRuntime JS
<h1>Galleri</h1>
<p>Choose a hamster to view more information</p>
<HamsterInfo infoHamster=infoHamster Killed="hamsterKilled" />
@if (ShowInputField)
{
    <CreateHamster onCreated="CreateHamsterObjekt" onClose="CloseCreateHamster" />
}
else
{
    <button class="btn btn-primary" @onclick="ShowCreateHamster">Create Hamster</button>
}
@if (infoHamster != null)
{
    <DeleteHamster onDelete="DeleteHamster" HamsterId="infoHamster.Id" />
}
<HamsterGallery galleryList="galleryList" onShowMore="ShowMore" />

