@page "/"

<PageTitle>Index</PageTitle>

<center><h1>Hamster Wars</h1></center>
<center><h2>The was rages on</h2></center>
<center><img class="IndexPicture" src="img/misc/HamsterWars.png" /></center>
<h2>Gallery</h2>
    <p>Shows info on all hamsters. Click the image to get details.</p>
    <p>Can add and delete Hamsters also</p>
<h2>Battle</h2>
    <p>Hamsters will battle to the death</p>
<h2>Statistics</h2>
    <p>Shows Best and Worst Hamster in the world.</p>


