@page "/tournaments/ongoing"
@using Frontend.Pages.Component
@using DTO
@inject IJSRuntime JS

<h3>OngoingTournaments</h3>
@if(HasVoted)
{
    <br /><center><img class="IndexPicture" src="img/misc/ThxVoting.jpg" /></center>
}
<BattleHamster Battle="match" onBattleWinner="Vote" />
<MatchGallery tour="tournament" onMatchClick="GetMatchForBattle" onEndMatch="EndMatch" />
<ShowTournaments tournamentList="tournamentList" onShowTournament="GetTournament" onCheckTournament="ContinueTournament" />
