@using DTO
<div>
    <div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <label for="StartDateInput">Start date:</label>
        <label for="EndDateInput">End date:</label>
    </div>
        <div class="d-flex flex-column">
        <input type="date" id="StartDateInput" @bind="StartDate" />
        <input type="date" id="EndDateInput" @bind="EndDate" />
    </div>
</div>
    <button @onclick="SendDateDTO">@ButtonName</button>
</div>

@code {
    [Parameter]
    public EventCallback<SelectedDatesDTO> onSelectedDateSpan { get; set; }
    [Parameter]
    public string ButtonName { get; set; } = "Search";

    public DateOnly StartDate { get; set; } = DateOnly.FromDateTime(DateTime.UtcNow);
    public DateOnly EndDate { get; set; } = DateOnly.FromDateTime(DateTime.UtcNow);

    public async Task SendDateDTO()
        => await onSelectedDateSpan.InvokeAsync(new SelectedDatesDTO(StartDate, EndDate));
}
