@page "/tournament"
@using DTO
@using Frontend.Pages.Component
@inject IJSRuntime JS
<h1>Tournament</h1>
<TournamentGallery />
@code {
    List<TournamentDTO> tournamentList { get; set; }
    TournamentDTO? tournament { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        tournamentList = await JS.InvokeAsync<List<TournamentDTO>>("getAPI", "https://localhost:7232/tournament");
        StateHasChanged();
    }
}
