@inherits LayoutComponentBase

<PageTitle>HamsterWars</PageTitle>

<div class="page">
    <main >
        <NavMenuTop />
        <article class="d-flex flex-column justify-content-center align-items-center">
            @Body

        </article>
        <Footer />
    </main>

</div>
