@inherits LayoutComponentBase

<PageTitle>HamsterWars</PageTitle>

<div class="page">
    <main >
        <NavMenuTop />
        <article class="d-flex flex-column justify-content-center align-items-center">
            @Body
        </article>
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Contact</a>
            </div>
            
        </nav>
    </main>
</div>
