@inherits LayoutComponentBase

<PageTitle>HamsterWars</PageTitle>

<div class="page">
    <main>
        <NavMenuTop />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
